<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="1.9.3.19" targetFramework="net45" />
  <package id="DiffieHellman" version="1.0.0" targetFramework="net45" />
  <package id="Org.Mentalis.Security" version="1.0.0" targetFramework="net45" />
  <package id="Tamir.SharpSSH" version="1.1.1.13" targetFramework="net45" />
</packages>