<?xml version="1.0" encoding="utf-8" ?>
<Deployment>
  <Hosts>
    <Host
      roles="itg"
      environment="linux"
      username="myuser"
      password="pass">
      s1.consoto.com
    </Host>
    <Host
      roles="pro"
      environment="windows"
      username="myuser"
      password="pass">
      s2.consoto.com
    </Host>
    <Host
      environment="windows">
      loopback
    </Host>
  </Hosts>
  <InputDirs>
    <InputDir path="C:/Users/nemecd/prg/Concentra.Crawler/HP.Concentra.Crawler/bin/Release">
      <OutputDirs>
        <OutputDir path="/getmodel/jobs/CDS_Concentra_SFS/">
          <Files>
            <File>ConcentraCrawler.exe</File>
            <File>ConcentraCrawler.exe.config</File>
            <File>CDS_Concentra_SFS.cmd</File>
            <File>*.dll</File>
          </Files>
        </OutputDir>
      </OutputDirs>
    </InputDir>
  </InputDirs>
</Deployment>